<%- include('../layouts/ejs/head.ejs')  %>
<link rel="stylesheet" href="/css/cart.css">
<%- include('../layouts/ejs/navigation.ejs') %>

<main>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 g-4">
            <% if(products.length>0){ %>
            <% for(product of products) { %>
            <div class="col">
                <div class="card">
                    <img src="<%= product.productData.imgUrl %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title"><%= product.productData.title %></h3>
                        <h5 class="card-title">Rs <%= product.productData.price %></h5>
                        <p class="card-text"><%= product.productData.description %></p>
                        <h6 class="mt-5">Product Quantity : <%= product.qty %></h6>
                    </div>
                    <div class="buttons">
                        <a href="/cart/<%= product.productData.id %>" class="btn btn-primary">Add More</a>
                        <form action="/cart/deleteItem" method="POST">
                            <input type="hidden" value="<%= product.productData.id %>" name="prodId">
                            <button class=" mt-3 btn btn-primary">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <% }%>
            <% }else{%>
                <h1>Cart is Empty</h1>
            <% } %>
        </div>
        <div class="totalPrice">
            <h3>Total Price : <%= totalPrice %></h3>
        </div>
    </div>
</main>

<%- include('../layouts/ejs/end.ejs') %>