<%- include('../layouts/ejs/head.ejs')  %>
    <link rel="stylesheet" href="/css/add-product.css">
    <%- include('../layouts/ejs/navigation.ejs') %>

    <main class="form-control">
      <form class="product-form" action="/admin/<%= editing ? 'edit-product' : 'add-product' %>" method="POST">
        <label for="title">Title</label>
        <input type="text" value="<%= editing ? product.title : '' %>" name="title" id="title" />

        <label for="imgUrl">Img Url</label>
        <input type="text" value="<%= editing ? product.imgUrl : '' %>"  name="imgUrl" id="imgUrl" />

        <label for="price">Price</label>
        <input type="text" value="<%= editing ? product.price : '' %>"  name="price" id="price" />

        <label for="description">description</label>
        <textarea row=5 name="description" id="description"><%= editing ? product.description : '' %></textarea>

        <% if(editing){ %>
          <input type="hidden" value="<%= product.id %>" name="prodId">
        <% } %>
        
        <button type="submit" class="btn btn-primary"><%= editing ? 'Update Product' : 'Add Product' %></button>
        
      </form>
    </main>
    <%- include('../layouts/ejs/end.ejs') %>
