<%- include('../layouts/ejs/head.ejs')  %>
    <link rel="stylesheet" href="/css/login.css">
    <%- include('../layouts/ejs/navigation.ejs') %>

    <main>
        <% if(errorMessage) {%>
            <div class="user-message user-message-error"><%= errorMessage %></div>
        <%}%>
        <div class="container">
            <div class="login-form">
                <form class="form-control" method="post" action="/newPassword">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter Password" id="password">

                    <label for="cnfPassword">Confirm Password</label>
                    <input type="password" name="cnfPassword" placeholder="Confirm Password" id="cnfPassword">

                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="token" value="<%= token %>">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('../layouts/ejs/end.ejs') %>